*.pyc

Lab2/Facebook/LiveReloadSetup.exe
Lab2/Facebook/tsetup.2.5.8.exe

Lab5/src/app/app.component.html
Lab5/src/app/app.component.html
Lab5/src/app/app.component.css
Lab5/src/app/app.component.html
Lab5/src/app/app.component.ts
Lab5/src/app/app.module.ts
Lab5/src/app/category/category.component.html
Lab5/src/app/category/category.component.ts
Lab5/src/app/itemList.ts
Lab5/src/app/product-item/product-item.component.html
Lab5/src/app/product-item/product-item.component.ts
Lab5/src/app/product-list/product-list.component.html
Lab5/src/app/product-list/product-list.component.ts
Lab7/test_venv


Lab8/shopback/shopback/settings.py


Lab9/hhback/hhback/settings.py
